<section class="resume" >
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5" >
         <!-- first col  -->
        <div class="hidden md:block col-span-1" >
            <div class="bg-primary rounded-2xl" >
                <div class="">
                    <div class="px-4 pt-4">
                         <img src="../../../assets/images/eikhaingsoe-img.jpg" class="h-[400px] rounded-2xl w-full object-cover " alt="">
                    </div>
                    
                     <div class="py-5 px-4 flex flex-col gap-4 border-b" >
                        <div class="flex items-center gap-3" >
                            <i class="ri-contacts-fill"></i><span class="font-medium font-poppins" >Contact</span>
                        </div>
                         <div class="flex items-center gap-3" >
                            <i class="ri-phone-line"></i><span class="text-gray-500 " >+95 9456639939</span>
                        </div>
                         <div class="flex items-center gap-3" >
                            <i class="ri-mail-line"></i><span class="text-gray-500 " >eikhaingsoe.ycc&#64;gmail.com</span>
                        </div>
                         <div class="flex items-center gap-3" >
                            <i class="ri-github-fill"></i><span class="text-gray-500 " >https://github.com/EkhaingSoe</span>
                        </div>
                         <div class="flex items-start gap-3" >
                            <i class="ri-linkedin-line"></i><span class="text-gray-500 " >https://www.linkedin.com/in/ei-khaing-soe-b025542a3/</span>
                        </div>
                        <div class="flex items-start gap-3" >
                            <i class="ri-map-pin-line"></i><span class="text-gray-500 " >Yangon Township, Myanmar</span>
                        </div>
                     </div>
                     <div class="py-5 px-4 flex flex-col gap-4 border-b" >
                        <div class="flex items-center gap-3" >
                            <i class="ri-git-repository-fill"></i><span class="font-medium font-poppins" >Education</span>
                        </div>
                        <div>
                            <p class="text-gray-500 mb-1" >2012 - 2018</p>
                            <p class="font-medium text-gray-800" >Bachelor of Electronic Engineering</p>
                            <p class="text-gray-800 font-medium">University of Technology ( Yatanarpon Cyber City )</p>
                        </div>
                         <div>
                            <p class="text-gray-500 mb-1" >May 2020 - Dec 2020</p>
                            <p class="font-medium text-gray-800" >Special Web Design Class</p>
                            <p class="text-gray-800 font-medium">MMS IT Solution</p>
                        </div>
                        <div>
                            <p class="font-medium text-gray-800" >React Course ( Udemy )</p>
                        </div>
                     </div>
                     <div class="py-5 px-4 flex flex-col gap-4 " >
                        <div class="flex items-center gap-3" >
                            <i class="ri-settings-5-fill"></i><span class="font-medium font-poppins" >Skills</span>
                        </div>
                        <div class="grid grid-cols-2 gap-4" >
                              <div class="flex items-center gap-3" >
                                <i class="ri-html5-line"></i><span class="text-gray-500 " >HTML</span>
                              </div>
                              <div class="flex items-center gap-3" >
                                <i class="ri-css3-line"></i><span class="text-gray-500 " >CSS</span>
                              </div>
                               <div class="flex items-center gap-3" >
                                <i class="ri-javascript-line"></i><span class="text-gray-500 " >JavaScript</span>
                              </div>
                              <div class="flex items-center gap-3" >
                                <i class="ri-angularjs-line"></i><span class="text-gray-500 " >Angular</span>
                              </div>
                               <div class="flex items-center gap-3" >
                                <i class="ri-reactjs-fill"></i><span class="text-gray-500 " >React</span>
                              </div>
                              <div class="flex items-center gap-3" >
                                <i class="ri-tailwind-css-fill"></i><span class="text-gray-500 " >Tailwind</span>
                              </div>
                              <div class="flex items-center gap-3" >
                                <i class="ri-nextjs-fill"></i><span class="text-gray-500 " >Nextjs</span>
                              </div>
                               <div class="flex items-center gap-3" >
                                <i class="ri-nodejs-fill"></i><span class="text-gray-500 " >Nodejs</span>
                              </div>
                        </div>
                       
                     </div>
                </div>
               
            </div>
        </div>
        <!-- second col  -->
        <div class="col-span-2 flex flex-col gap-5 " >
            <div class="p-4 bg-primary rounded-2xl " >
                <h1 class="text-center text-xl font-semibold font-poppins mb-1" >Ei Khaing Soe</h1>
                <p class="text-center text-gray-500" >Front End Developer</p>
            </div>
             <div class="p-4 bg-primary rounded-2xl " >
                <h1 class="text-xl font-semibold font-poppins mb-1" >About Me</h1>
                <p class=" text-gray-500  leading-8 text-justify " >Experienced Front-End Developer with 4+ years of experience specializing in building responsive web applications in eCommerce, ERP systems, POS systems and Real-Estate Management System. Expertise in JavaScript frameworks (Angular, React), state management (Redux, NgRx), and CSS frameworks (Tailwind, Bootstrap). Proven track record of optimizing performance, improving user satisfaction, and collaborating with cross-functional teams to deliver high-quality solutions.
                </p>
            </div>
            <div class="p-4 bg-primary rounded-2xl " >
                <h1 class="text-xl font-semibold font-poppins  mb-4" >My Experience</h1>
                <div class="flex flex-col gap-4" >
                    <div class="bg-white p-4 flex flex-col gap-2" >
                        <h3 class="font-semibold text-lg font-poppins" >MMSIT</h3>
                        <div class="flex items-center justify-between" >
                            <p>Junior Frontend Developer</p>
                            <p>Jan 2021 - Nov 2022</p>
                        </div>
                        <p class="font-medium underline underline-offset-4 mb-1" >Real Estate Management System And Many Static Website</p>
                        <ul class="list-disc list-inside text-gray-500 flex flex-col gap-3" >
                            <li>
                                Developed agent management dashboards with secure authentication and authorization.
                            </li>
                            <li>
                                Implemented appointment scheduling, property management, and client interaction tracking.
                            </li>
                            <li>
                                Enhanced property search functionalities with advanced filtering and property status tracking.
                            </li>
                            <li>
                                Built transaction management features, including secure payment processing.
                            </li>
                        </ul>
                    </div>
                    <div class="bg-white p-4 flex flex-col gap-2" >
                        <h3 class="font-semibold font-poppins text-lg" >Unity Source</h3>
                        <div class="flex items-center justify-between" >
                            <p>Frontend Developer</p>
                            <p>Dec 2022- Dec 2023</p>
                        </div>
                        <p class="font-medium underline underline-offset-4 mb-1" >POS system And WarehouseSystem</p>
                        <ul class="list-disc list-inside text-justify text-gray-500 flex flex-col gap-3" >
                            <li>
                                Developed POS features such as real-time sales tracking, product scanning, and discount application, payment management, delivery management, order management system, purchase management system.
                            </li>
                            <li>
                                Designed and implemented inventory management features, including automated low-stock alerts and real-time inventory updates across multiple stores.
                            </li>
                            <li>
                                Integrated multiple payment methods, including credit cards, mobile payments, and store credits, ensuring a seamless checkout experience.

                            </li>
                            <li>
                                Built reusable and modular UI components for managing customers, products, and transactions within a multi-store environment.
                            </li>
                            <li>
                                Created a responsive, user-friendly interface using Tailwind CSS for ease of use across desktops, tablets, and mobile devices.

                            </li>
                        </ul>
                    </div>
                     <div class="bg-white p-4 flex flex-col gap-2" >
                        <h3 class="font-semibold font-poppins text-lg" >Innovation Network Technology</h3>
                        <div class="flex items-center justify-between" >
                            <p>Frontend Developer</p>
                            <p>Jan 2024- Now</p>
                        </div>
                        <p class="font-medium underline underline-offset-4 mb-1" >ERP System</p>
                        <ul class="list-disc list-inside text-justify text-gray-500 flex flex-col gap-3 mb-2" >
                            <li>
                                Developed core eCommerce features: product listings, filtering, cart management, secure payments, order tracking, and admin dashboard.
                            </li>
                            <li>
                               Integrated secure payment gateways, improving user experience.
                            </li>
                            <li>
                                Improved product searching through advanced filtering and sorting (by categories, prices, sizes, etc.).
                            </li>
                            <li>
                                Optimized UI/UX design for responsive interfaces using Tailwind CSS across mobile and desktop.
                            </li>
                            <li>
                                Managed state efficiently with NgRx, lazy loading, and performance techniques like tree-shaking.
                            </li>
                        </ul>
                         <p class="font-medium underline underline-offset-4 mb-1" >E-commerce Application</p>
                        <ul class="list-disc list-inside text-justify text-gray-500 flex flex-col gap-3" >
                            <li>
                               Key Features : Integrated ERP modules, including inventory management, order processing, financial reporting, and human resources.
                            </li>
                            <li>
                              Data Analysis and Reporting : Advanced analytics and reporting tools for generating real-time reports, dashboards, and KPIs to support decision-making
                            </li>
                            <li>
                                Financial Management : Includes modules for managing accounting, budgeting, tax management, and financial reporting and tracks financial transactions in real-time.
                            </li>
                            <li>
                                Inventory and Supply Chain Management: Manages inventory levels, procurement processes, order management, and logistics and provides real-time visibility into inventory levels, demand forecasting, and supply chain optimization.
                            </li>
                            <li>
                                Human Resource Management : Supports employee data management, payroll, recruitment, performance evaluations, and benefits administration and time tracking, attendance, and employee self-service portals. 
                            </li>
                            <li>
                                Sales and Order Management : Automates the sales process from order entry to delivery and invoicing and Integrates with inventory to ensure smooth order fulfillment.
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
