<div class="relative">
  <!-- Overlay -->
  <div
    *ngIf="isSettingSidebarOpen" (click)="closeSetting()"
    class="fixed inset-0 bg-black bg-opacity-50 z-40"
  ></div>

  <!-- Sidebar -->
  <section
  [class.translate-x-0]="isSettingSidebarOpen"
    [class.translate-x-full]="!isSettingSidebarOpen" 
    class="fixed top-0 right-0 h-full w-80 bg-white z-50 transform transition-transform duration-300 ease-in-out"
  >
    <div>
      <div class="flex items-center justify-between border-b p-5">
        <h1  class="font-medium text-lg font-poppins">Tools</h1>
        <i
          class="ri-close-fill text-red-600 text-lg cursor-pointer"
          (click)="closeSetting()"
        ></i>
      </div>
      <div class="p-5">
        <h1 class="mb-3">Select Color</h1>
        <div class="grid grid-cols-5 gap-2">
          <div
            *ngFor="let color of colors"
            class="w-10 h-10 flex items-center justify-center rounded cursor-pointer border-2 border-transparent"
           [ngClass]="'bg' + color.colorClass"
            (click)="selectColor(color.colorClass)"
          >
          <i *ngIf="selectedColorClass === color.colorClass" class="ri-check-double-line text-white text-lg"></i>
        </div>
        </div>
        <div class="p-5 mt-5 rounded text-white" [ngClass]="'bg'+selectedColorClass">
        <p>This is the selected color theme.</p>
        </div>
      </div>
    </div>
  </section>
</div>
